{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

<!-- https://cs50.readthedocs.io/code/#using-git -->

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.panzoom/3.2.2/jquery.panzoom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-mousewheel/1.0.5/mousewheel.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() { //https://codepen.io/praveesh91/pen/oZMNWG
            map = document.getElementByID("map")
            
            zoomin = document.querySelector('.zoom-in');
            zoomin.addEventListener('click', function() {
                map.style.width = map.style.width * 1.25;
                map.style.height = map.style.height * 1.25;
                // zoomin.style.backgroundColor = 'Green';
                // zoomin.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
            });

            zoomout = document.querySelector('.zoom-out');
            zoomin.addEventListener('click', function() {
                map.style.width = map.style.width * 0.8; 
                map.style.height = map.style.height * 0.8;
                // zoomin.style.backgroundColor = 'Green';
                // zoomin.parentElement.querySelector('.feedback').innerHTML = 'Correct!';
            });
        });
    </script>
{% endblock %}

{% block main %}

    <div style="width: 100%;">
        <div style="width: 30%; float: left;"> 
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">School</th>
                    <th scope="col">Area</th>
                    <th scope="col">Positivity Rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>MIT</td>
                    <td>Cambridge</td>
                    <td>0.12%</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Harvard</td>
                    <td>Cambridge</td>
                    <td>0.17%</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Tufts</td>
                    <td>Medford</td>
                    <td>0.18%</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Area</th>
                    <th scope="col">Positivity Rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Cambridge</td>
                    <td>0.12%</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Boston</td>
                    <td>0.17%</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Medford</td>
                    <td>0.18%</td>
                  </tr>
                </tbody>
              </table>
        </div>
        
        
        <div style="margin-left: 30%;"> 
             
            <div class="buttons">
                <button type="button" class="zoom-out btn btn-default">
                    <span><img src="/static/zoom-out.png" class="img-fluid" alt="zoom-out" width="20"; height="20"></span>
                </button>
                <button type="button" class="zoom-in btn btn-default">
                    <span><img src="/static/zoom-in.png" class="img-fluid" alt="zoom-in" width="20"; height="20"></span>
                </button>
            </div>
    
            <div class="item panzoom">
                <img src="/static/MAmap.png" class="img-fluid" alt="map" id="map">
            </div>
    
            <div class="col-md-12" style="text-align:center;margin-top: 1em;margin-bottom: 1em;">
                <button class="reset btn btn-primary">Reset Zoom</button>
            </div>
        </div>
        
    </div>
    

{% endblock %}